<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Maillot4Me</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    </head>
    <body style="background-color: #E9F1FA; padding-top: 70px">

        <div class="container mt-4">
        {% block content %} {% endblock %}
        </div>
        <div class="container mb-0" style="background-color: #29659b;">
            <div class="row mb-0">
                <div class="col text-center mx-0 mt-4 mb-0">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo Maillot4Me" height="60">
                    </div>
            </div>
        </div>
        <footer class="text-center mt-0 text-white" style="background-color: black;">
            <div>
                <br>
                <p>&copy; 2025 Maillot4Me Tous droits réservés.</p>
            </div>
            </footer>
                
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
