{% extends "layout.html" %}

    {% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-7 col-lg-8 mb-3">
        <h1 class="mb-3">Adresse de facturation</h1>
            
        <form method="post" action="{{ url_for('paiement') }}">
            <div class="row g-3">
                {% if not user %}
                <div class="col-sm-6">
                    <label for="nom" class="form-label"><i class="bi bi-person"></i> Nom</label>
                    <input type="text" class="form-control" id="nom" name="nom" value="{{ user.nom if user else '' }}" required>
                </div>
                <div class="col-sm-6">
                    <label for="prenom" class="form-label">Prenom</label>
                    <input type="text" class="form-control" id="prenom" name="prenom" value="{{ user.prenom if user else '' }}" required>
                </div>
                <div class="col-12">
                    <label for="email" class="form-label"><i class="bi bi-envelope"></i> Email </label>
                    <input type="text" class="form-control" id="email" name="email" value="{{ user.email if user else '' }}" required>
                </div>
               
                <div class="col-sm-5">
                    <label for="pays" class="form-label"><i class="bi bi-flag"></i> Pays</label>
                <input type="text" class="form-control" id="pays" name="pays" value="{{ user.pays if user else '' }}" required>   
                </div>

                 <div class="col-12">
                    <label for="adresse" class="form-label">Adresse</label>
                    <input type="text" class="form-control" id="adresse" name="adresse" value="{{ user.adresse if user else '' }}" required>
                    </div>
                    
                <div class="col-sm-4">
                    <label for="Ville" class="form-label">Ville</label>
                    <input type="text" class="form-control" id="ville" name="ville" value="{{ user.ville if user else '' }}" required>
                    </div>
                <div class="col-sm-3">
                    <label for="code_postal" class="form-label">Code postal</label>
                    <input type="text" class="form-control" id="code_postal" name="code_postal" value="{{ user.code_postal if user else '' }}" required>
                    </div>
                    {% endif %}
            </div>
            <hr>
            <h2 class="mb-3">Mode de paiement <i class="bi bi-credit-card-fill"></i></h2>
            <div class="mb-3">
                
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment_method" id="cradio1">
                        <label class="form-check-label" for="radioDefault1">
                          Mastercard
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment_method" id="cradio2" checked>
                        <label class="form-check-label" for="radioDefault2">
                          Postfinance
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment_method" id="cradio3">
                        <label class="form-check-label" for="radioDefault3">
                          Twint
                        </label>
                    </div>
                </div>
            
            <div class="row g-3">
            <div class="col-7">
                <label for="namecard" class="form-label">Nom sur la carte</label>
                <input type="text" class="form-control" id="namecard" name="namecard" required>
            </div>
            <div class="col-5">
                <label for="numcard" class="form-label">Numéro de carte</label>
                <input type="text" class="form-control" id="numcard" name="numcard" required>
            </div>
            <div class="col-4">
                <label for="datecard" class="form-label">Date d'expiration</label>
                <input type="text" class="form-control" id="datecard" name="datecard" placeholder="MM/AA" required>
            </div>
            <div class="col-4">
                <label for="codecard" class="form-label">Code de sécurité</label>
                <input type="text" class="form-control" id="codecard" name="codecard" placeholder="CVC" required>
            </div>
            </div>
            <hr>
            <div class="col-12">
                <button class="w-100 btn btn-primary" type="submit">Payer</button>
                </div>
        </form>
        </div>
    
        <div class="col-md-5 col-lg-4 mb-3 ">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Commande</h5>
                    </div>

                    <ul class="list-group list-group-flush">
                        {% for maillure in panier %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{maillure.nom}}
                            <span>{{'%.2f'|format(maillure.prix)}}Frs</span>
                        </li>
                        {% endfor %}
                        <li class="list-group-item d-flex justify-content-between">
                            <strong>Total</strong>
                            <strong>{{'%.2f'|format(tot)}}Frs</strong>
                        </li>
                
                        
                    </ul>
                </div>
                </div>
                </div>

        {% endblock %}
