{% extends "layout.html" %}

    {% block content %}
    <div class="container">
        <div class="col-md-7 col-lg-8 mb-3">
        <h1 class="mb-3">Adresse de facturation</h1>
            
        <form method="post" action="{{ url_for('paiement') }}">
            <div class="row g-3">
                <div class="col-sm-6">
                    <label for="nom" class="form-label"><i class="bi bi-person"></i> Nom</label>
                    <input type="text" class="form-control" id="nom" name="nom" required>
                </div>
                <div class="col-sm-6">
                    <label for="prenom" class="form-label">Prenom</label>
                    <input type="text" class="form-control" id="prenom" name="prenom" required>
                </div>
                <div class="col-12">
                    <label for="Email" class="form-label"><i class="bi bi-envelope"></i>Email (optionel)</label>
                    <input type="text" class="form-control" id="email" name="email" required>
                </div>
                <div class="col-12">
                    <label for="adresse" class="form-label">Adresse</label>
                    <input type="text" class="form-control" id="adresse" name="adresse" required>
                    </div>
                <div class="col-sm-5">
                    <i class="bi bi-flag"></i>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>-- choisir le pays --</option>
                        <option value="1">Allemagne</option>
                        <option value="2">Autriche</option>
                        <option value="3">Bosnie</option>
                        <option value="3">France</option>
                        <option value="4">Italie</option>
                        <option value="5">Luxembourg</option>
                        <option value="6">Suisse</option>
                        <option value="7">Zimbabwe</option>
                        <option value="8">Autre</option>
                      </select>
                </div>
                <div class="col-sm-4">
                    <label for="Ville" class="form-label">Ville</label>
                    <input type="text" class="form-control" id="ville" name="ville" required>
                    </div>
                <div class="col-sm-3">
                    <label for="codePostal" class="form-label">Code postal</label>
                    <input type="text" class="form-control" id="codePostal" name="codePostal" required>
                    </div>
            </div>
            <hr>
            <h2 class="mb-3">Mode de paiement <i class="bi bi-credit-card-fill"></i></h2>
            <div class="col-auto mb-3">
                <div class="position-absolute top-50 start-0">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment_method" id="cradio1">
                        <label class="form-check-label" for="radioDefault1">
                          Mastercard
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment_method" id="cradio2" checked>
                        <label class="form-check-label" for="radioDefault2">
                          Postfinance
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment_method" id="cradio3" checked>
                        <label class="form-check-label" for="radioDefault3">
                          Twint
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <label for="namecard" class="form-label">Nom sur la carte</label>
                <input type="text" class="form-control" id="namecard" name="namecard" required>
            </div>
            <div class="col-5">
                <label for="numcard" class="form-label">Numéro de carte</label>
                <input type="text" class="form-control" id="numcard" name="numcard" required>
            </div>
            <div class="col-4">
                <label for="datecard" class="form-label">Date d'expiration</label>
                <input type="text" class="form-control" id="datecard" name="datecard" placeholder="MM/AA" required>
            </div>
            <div class="col-4">
                <label for="codecard" class="form-label">Code de sécurité</label>
                <input type="text" class="form-control" id="codecard" name="codecard" required>
            </div>
            <hr>
            <div class="col-12">
                <button class="w-100 btn btn-primary" type="submit">Payer</button>
                </div>
        </form>
        </div>
    
        <div class="col-md-5 col-lg-4 mb-3 order-last">
            <div class="container mt-4">
                <div class="row justify-content-center">
                  {% for produit in prods %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                      <div class="card h-100 text-center">
                        <img src="{{ url_for('static', filename='images/' ~ produit.image) }}" class="card-img-top" alt="{{ produit.nom }}">
                        <div class="card-body">
                          <h5 class="card-title">{{ produit.nom }}</h5>
                          <p class="card-text">{{ produit.prix }} CHF</p>
                          <a href="{{ url_for('ajouter_panier', id=produit.id) }}" class="btn btn-primary">Ajouter au panier</a>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
        </div>
    </div>
    {% endblock %}