{% extends "layout.html" %}

    {% block content %}
    <div class="container">
        <h1 class="text-center my-4">Votre panier</h1>
        {% if panier %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Taille</th>
                        <th>Image</th>
                        <th>Quantité</th>
                        <th>Action</th>
                        <th>Sous-total</th>
                    </tr>
                </thead>
                <tbody>
                    {% set total = 0 %}
                    {% for item in panier %}
                        <tr>
                            <td>{{ item.nom }}</td>
                            <td>{{ item.prix }} CHF</td>
                            <td>{{ item.taille }}</td>
                            <td>
                                <img src="{{ url_for('static', filename='images/' + item.image) }}" class="img-fluid" alt="image du produit" style="width: 50px; height: 50px;">
                            </td>
                            <td class="text-center">
                                <div class="btn-group" role="group">
                                    <a href="{{ url_for('diminuer', index=loop.index0) }}" class="btn btn-sm btn-outline-secondary">-</a>
                                    <span class="btn btn-sm btn-light disabled">{{ item.quantite }}</span>
                                    <a href="{{ url_for('augemanter', index=loop.index0, ajouter=True) }}" class="btn btn-sm btn-outline-secondary">+</a>
                                </div>
                            </td>
                            <td>
                                <a href="{{ url_for('supprimer_du_panier', index=loop.index0) }}" class="btn btn-danger btn-sm">
                                    <i class="bi bi-trash"></i> Supprimer
                                </a>
                            </td>
                            <td>{{ '%.2f'|format(item.prix * item.quantite) }} CHF</td>
                        </tr>
                        
                    {% endfor %}
                </tbody>
            </table>
            <h3 class="text-end mt-3 ">Total: {{ '%.2f' | format(tot) }} CHF</h3>
            <div class="text-center mb-4">
            <a href="{{ url_for('paiement')}}" class="btn btn-success">Valider la commande</a>
            <a href="{{ url_for('vider_panier') }}" class="btn btn-danger">Vider le panier</a>
</div>
        {% else %}
            <p class="text-center">Votre panier est vide.</p>
            <a href="{{ url_for('produits') }}" class="btn btn-primary">Voir les produits</a>
        {% endif %}
    </div>
    {% endblock %}
    



