{% extends "layout.html" %}

    {% block content %}
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #29659b;" data-bs-theme="light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('produits') }}">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo Maillot4Me" height="60">
                </a>
                <form class="d-flex" method="get" action="{{ url_for('recherche')}}">
                    <input class="form-control me-2" type="search" placeholder="Rechercher un article" name="requete" aria-label="Search">
                    <button class="btn btn-secondary" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
                <a href="/panier" class="btn btn-secondary">
                    <i class="bi bi-cart2 me-2"></i> Panier
                </a>
                {% if session.get('user_id') %}
                    <span class="navbar-text text-white me-2">Bonjour, {{ session.get('username') }}</span>
                    <a href="{{ url_for('deconnexion') }}" class="btn btn-danger">
                        <i class="bi bi-box-arrow-right me-2"></i> Déconnexion</a>
                {% else %}
                    <a href="{{ url_for('login') }}" class="btn btn-primary">
                        <i class="bi bi-box-arrow-in-right me-2"></i> Connexion</a>
                    <a href="{{ url_for('register') }}" class="btn btn-success">
                        <i class="bi bi-person-plus me-2"></i> Inscription</a>
                {% endif %}

            </div>
        </nav>
    <div class="container">
        <h1 class="text-center my-4">Nos produits</h1>
        {% for i in range(0, produits|length, 3) %}
        <div class="row justify-content-center">
            {% for p in produits[i:i+3] %}
                <div class="col-4 mb-4 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ url_for('static', filename='images/' + p.image) }}" class="card-img-top" alt="image du produit">
                        <div class="card-body">
                            <h5 class="card-title">{{ p.nom }}</h5>
                            <p class="card-text">{{ p.prix }}</p>
                            <!-- <a href="{{ url_for('ajouter_panier', id=p.id) }}" class="btn btn-primary">Ajouter au panier</a> -->
                            <form action="{{ url_for('ajouter_panier', id=p.id) }}" method="post">
                                <div class="mb-2">
                                    <label for="taille-{{ p.id}}" class="form-label">Taille</label>
                                    <select class="form-select" id="taille-{{ p.id }}" name="taille">
                                        <option value="S">S</option>
                                        <option value="M" selected>M</option>
                                        <option value="L">L</option>
                                        <option value="XL">XL</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Ajouter au panier</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endblock %}
    
